body{
  font-size: 16px;
  line-height: 1.5;
}

#site-main{
  padding-top: 50px;
  padding-bottom: 50px;
}


#site-header .navbar{
  border-radius: 0px;
  border: none;
  margin: 0;
}
#site-footer{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 12px;
  background: #222;
  color:#999;

}
